.App {
  text-align: center;
  padding: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 80px;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1030AD;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-header > h1 {
  margin: 25px;
  /* font-family: 'Rajdhani', sans-serif; */
  font-family: 'Saira', sans-serif;
  font-size: 3rem;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.nav-link {
  margin: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rental-select-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.select-movie {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.select-customer {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.select-customer-text, .select-movie-text {
  font-weight: bolder;

}

.rental-button__container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.home-img {
  min-height: 300px;
}

.primary-color {
  color: #1030AD;
}

.secondary-color {
  color: #FFCC00;
}

nav > a {
  color: #1030AD;
}

nav > a:hover {
  color: #FFCC00;
}

ul {
  list-style: none;
}

.overdue {
  color: rgb(15, 5, 5);
}
