.App {
  text-align: center;
  padding: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.nav-link {
  margin: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rental-select-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.select-movie {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.select-customer {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.select-customer-text, .select-movie-text {
  font-weight: bolder;

}

.rental-button__container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.home-img {
  width: 90vw;
}
